body {
    font-family: 'LucymarSansRegular';
    font-weight: normal;
    font-style: normal;
    font-size : 20px;
    display:flex;
 } 
em{
    font-style: italic;
}
div#left{
    width:35%;
    height:100vh;
    background-image: url("./../assets/backleft.jpg");
    background-size: cover;
 }
div#logoContainer{
    margin-top: 30%;
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    width: 100%;
    color: #FFF;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;;
}
div#logoContainer img{
    height: 120px;
}











 div#right{
    width:65%;
    background-color: #F9FAFB;
 }
 div#right div#signUpForm{
    width:100%;
    background-color: #FFF;
 }
 div#mainText {
    padding: 50px;
    padding-top: 10%;
 }
 div#mainText p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }