body {
    font-family: 'LucymarSansRegular';
    font-weight: normal;
    font-style: normal;
    font-size : 20px;
    display:flex;
    width:100vw;
    height:100vh;
} 
em{
    font-style: italic;
}
div#left{
    width:35%;
    height:100%;
    background-image: url("./../assets/backleft.jpg");
    background-size: cover;
    position: relative;
}
div#photoCredit{
    position: absolute;
    font-size: 0.8rem;
    bottom:0;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
}
a, div#photoCredit a:visited, div#photoCredit a:hover{
    color: #937968;
}
div#logoContainer{
    margin-top: 30%;
    background-color: rgba(0,0,0,0.5);
    height: 150px;
    width: 100%;
    color: #FFF;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;;
}
div#logoContainer img{
    height: 120px;
}
div#right{
    width:65%;
    background-color: #F9FAFB;
}
div#mainText {
    padding: 50px;
    padding-top: 10%;
}
div#mainText p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
div#signUpForm fieldset{
    background-color: #FFF;
    margin: auto;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
    box-shadow: 0 10px 5px #937968;
}
div#signUpForm p{
    font-size: 1em;
}
div#formContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div#formContainer div {
    padding: 10px;
    padding-left: 0;
}
div#formContainer div label{
    display: block;
    text-transform: uppercase;
    font-size: 0.75rem;
}
div#formContainer div input{
    width : 70%;
    border: 1px solid grey;
    border-radius: 3px;
    height:1.7rem;
}
div#formContainer div input:invalid {
    border-color: red;
}
div#formContainer div input:valid {
    border-color: #937968;
}
.errorMessage{
    visibility: hidden;
}
div#signUpForm button{
    margin-top: 50px;
    margin-left:50px;
    margin-bottom:20px;
    background-color: #937968;
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px #444;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
div#signUpForm button:hover{
    margin-top: 50px;
    margin-left:50px;
    background-color: #937968CC;
    padding: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 20px #444;
}
div#signUpForm p#login{
    margin-top: 20px;
    margin-left:50px;
}